@mixin center{
    text-align: center;
    align-items: center;
}
.container{
    .com{
        @include center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 30px;
        padding: 20px;
        h1 {
            color: $gato_negro;
            font-size: 50px;
            font-family: 'Nabla', cursive;
            font-family: 'Rubik Dirt', cursive;
        }

        h2 {
            color: $gato_azul
        }


        p {
            color: $gato_negro;
            font-size: 20px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;

        }
        form {

            text-align: left;
            width: auto;
            color: aliceblue;
            padding: 10px;
            background-color: rgb(169, 167, 197);
        }

        .comunidad {

            padding: 10px;
            @include center;
        }
        .map{
            text-align: center;
            display: flex;
            flex-direction:column;
            justify-content: center;
            margin: 50px;
            border-color: black 5px;
            .cel{
                color: $gato_rojo;
            }
            h5{
                padding: 10px;
                color: $gato_negro;
            }
            
            .mapa{
                width: auto;
                
            }
        }
    }
}