footer {
    border-style: double;
    display: flex;
    flex-direction: row;
    height: 130px;
    background-color: $gato_blanco;

    div {
        display: flex;
        justify-content:space-between;

        img {
            height: 100px;

        }
    }

}
