$gato_rojo: red;
$gato_blanco: white;
$gato_negro: black;
$gato_azul: blue;
@import "_header.scss";
@import "_footer.scss";
@import "_raz";
@import "_hist";
@import "_com";
@import "_red";
@import "_adp";
@import "_tienda"
